@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;600;700&family=Poppins:wght@100;400;700&display=swap');



body{
    margin: 0px;
    padding: 0px;
    font-family: poppins;
}


.container {
    background-color: black;
    display: flex;
    align-items:flex-start;
    flex-direction: column;
    height: 50px;
}

#form-control {
    box-sizing: border-box;
    background-image: linear-gradient(rgb(50, 89, 216), rgb(108, 48, 192));
    padding: 10px;
    width: 100%;
    display: flex;
    
}

.inputs {
    border-radius: 2px;
    height: 30px;
    border-color: rgb(78, 78, 78);
    border: 0px;
    margin-right: 10px;

}

#category{
    border-radius: 2px;
    height: 32px;
    font-weight: 300;
    color: rgb(82, 82, 82);
}

#submitbtn {
    border: 0px;
    border-radius: 2px;
    background-color: rgb(219, 219, 219);
    color: rgb(27, 27, 27);
    font-size: 14px;
    height: 32px;
    width: 100px;
    margin-left: 10px;
    font-weight: 600;
}

#submitbtn:hover {
    color: rgb(255, 255, 255);
    background-color: rgb(73, 73, 73);
    cursor: pointer;
}


.total-items {
    justify-content: center;
    width: 40%;
    height: 50px;
}

.inner-div {
    background-color: rgb(231, 231, 231);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 5px;
    border-radius: 2px;

}

h4 {
    padding: 10px;
    font-size: 12px;
    font-weight: 400;
}

.innerbtn {
    background-color: rgb(160, 186, 253);
    border: 0px;
    border-radius: 3px;
    margin: 15px;
    width: 100px;
    height: 32px;
}

